{% load django_tables2 %}
{% load i18n %}

<div class="table-container">
    <table class="table table-hover">
        <thead>
            <tr>
                {% for column in table.columns %}
                    <th {% if column.attrs.th.class %}class="{{ column.attrs.th.class }}"{% endif %}>
                        {{ column.header }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table.rows %}
                <tr>
                    {% for column, cell in row.items %}
                        <td {% if column.attrs.td.class %}class="{{ column.attrs.td.class }}"{% endif %}>
                            {{ cell|safe }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 